body {
    background: #FFFFFF !important;
    background-color: #FFFFFF;
    font-family: 'verdana', sans-serif;
    font-size: 12px;
    text-align: justify;
    color: #000;
}
@page {
	header: page-header;
	footer: page-footer;
}
ol.componen {
    padding: 0px;
    list-style-type: upper-alpha;
}

ol.aspek {
    padding-left: 15px;
    list-style-type: lower-alpha;
}

ol.instrumen {
    padding-left: 16px;
    list-style-type: decimal;
}

ol.jawaban {
    padding-left: 16px;
    padding-top: 0px;
    list-style-type: inherit !important;
}

li.text-bold {
    font-weight: bold !important;
}

th,
td {
    padding: 5px;
}

.bintang {
    color: orange;
}
strong{font-weight: bold;}
.strong {font-weight: bold; font-size:14px;}
hr {
    background: #FFFFFF !important;
    margin:0 0 45px 0;
    border-width:0;
  }
  hr.s18 {
    height:12px;
    border-top:7px solid black;
    border-bottom:1px solid black;
  }
.text-center {text-align: center !important;}
h3 {font-size: 22px; font-weight: normal;}
h2 {font-size: 24px;}
h5 {font-size: 12px; font-weight: normal;}